* {
  box-sizing: border-box;
}

body {
  font-family: 'Futura', sans-serif;
  margin: 0;
  background-image: url(images/bg1.png);
  /* background: linear-gradient(rgba(39, 68, 131, 0.2), rgba(77, 40, 105, 0.2)), url(galaxy.jpg); */
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: scroll;
  background-attachment: fixed;
}

ul, nav {
  padding: 0;
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}
h2 img{
  max-width: 100px;
  max-height: 100px;
  padding: auto;
}
a:hover {
  opacity: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 1.5rem;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: relative;
  padding: 10px 100px 0;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

.wrapper{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,15%);
max-width: 350px;
background: #503382;
width: 100%;
padding: 15px;
border-radius: 5px;
box-shadow: 4px 4px 2px rgba(241, 55, 221, 0.84);
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  /* text-transform: uppercase; */
  /* letter-spacing: 2px; */
  color: #fff;
  font-family: 'futura', sans-serif;
}

.wrapper .input-field{
  margin-bottom: 10px;
}

.wrapper .input-field input[type="text"],
.wrapper textarea{
  width: 100%;
  border: 1px solid rgb(26, 244, 206);
  padding: 5px;
}

.wrapper textarea{
  height: 50px;
  resize: none;
;}
.wrapper p{
  text-decoration: none;
font-family: 'futura', sans-serif;
font-size: 18px;
font-weight: 400;
}

.wrapper .btn input[type="submit"]{
  border: 0;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: rgba(242, 143, 232, 0.93);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

.wrapper #error-message{
  margin-bottom: 20px;
  padding: 0px;
  background: rgb(101, 224, 230);
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
.gif{
  display: block;
 margin-left: auto;
 margin-right: auto;
  text-align: center;
  max-width: 100px;
  max-height: 100px;
}

footer {
  position: relative;
  top: 200px;
  height: auto;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px;
  z-index: -1;
  background: rgba(13, 5, 92, 0.63);
  text-align: center;
}
footer img{
  max-width: 40px;
  max-height: 40px;
  padding: auto;
}
footer i{
  padding: 10px;
}

@media all and (max-width: 800px) {
  body {
    font-size: 0.9rem;
  }

  header {
    flex-direction: column;
    padding: 10px !important;
  }

  header h2 {
    margin-bottom: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  .cover {
    padding: 20px;
  }
}

@media all and (max-width: 360px) {
  header nav li {
    margin: 0 10px;
  }
}
