* {
  box-sizing: border-box;
}

body {
  font-family: 'Futura', sans-serif;
  margin: 0;
  background-image: url(images/bg2.png);
  /* background: linear-gradient(rgba(39, 68, 131, 0.2), rgba(77, 40, 105, 0.2)), url(galaxy.jpg); insert loading gif?*/
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: scroll;
  background-attachment: fixed;
}

ul, nav {
  padding: 0;
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}
h2 img{
  max-width: 100px;
  max-height: 100px;
  padding: auto;
}
a:hover {
  opacity: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 .5rem;
}
h3{
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 .5rem;
  background: -webkit-linear-gradient(#7aeaed, #f16bd7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: fixed;
  padding: 10px 100px 0;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

.cover {
  height: 100vh;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

svg{
  max-width:100%;
  width: 200px;
   height: auto;}

/* // Required */
svg circle {
  animation: trails 4500ms linear infinite;
  fill: none;
  stroke: #ee29b0;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width: 4;
}
footer {
  position: relative;
  height: auto;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px;
  z-index: -1;
  background: rgba(13, 5, 92, 0.63);
  text-align: center;
}
footer img{
  max-width: 40px;
  max-height: 40px;
  padding: auto;
}
footer i{
  padding: 10px;
}
@for $i from 1 through 5 {
  svg circle:nth-child(#{$i}) {
    stroke: hsl($i*180, 81%, 76%);
    animation-delay: $i * 100ms;
  }
}

@keyframes trails {
  from { stroke-dashoffset: -500; }
  to   { stroke-dashoffset: 500; }
}
@keyframes wipe {
  to {
    transform: scaleX(0);
  }
}

@media all and (max-width: 800px) {
  body {
    font-size: 0.9rem;
  }

  header {
    flex-direction: column;
    padding: 10px !important;
  }

  header h2 {
    margin-bottom: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  .cover {
    padding: 20px;
  }
}

@media all and (max-width: 360px) {
  header nav li {
    margin: 0 10px;
  }
}
